.category-btn {
  padding: 14px 50px;
  color: #283678;
  border-radius: 8px;
  transition: all 0.3s ease;
  margin-right: 30px;
  border: 1px solid #e3e3e3bf;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  display: block;
}

.category-btn.active {
  background: #f9a61c;
  border-color: #f9a61c;
}

.category-btn:hover {
  background: #f9a61c;
  border-color: #f9a61c;
}

.section-news-categories {
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #ccc;
}

.section-news-categories .categories-wrapper {
  display: flex;
  justify-content: start;
}

.no-post-found {
  width: 100%;
  color: #283678;
  text-align: center;
  font-weight: 500;
}
