.custom-select {
  position: relative;
  min-width: 260px;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: white;
}

.project-search-input::placeholder {
  color: #283678 !important;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 50%;
  right: 10px;
  transform: translateY(calc(-50% + 3px));
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #283678 transparent transparent transparent;
}

.select-selected {
  color: #283678;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  cursor: pointer;
}

.select-items div {
  color: #818181;
  padding: 0.6rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.select-items {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  top: 110%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.select-hide {
  display: none;
}

.select-items div:hover {
  text-decoration: underline;
  color: #283678;
}

.no-post-found {
  grid-column: span 3;
  width: 100%;
  color: #283678;
  text-align: center;
  font-weight: 500;
}
