@media (max-width: 1024px) {
  .core-values-section ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  #ban-quan-tri .col-sm-6 {
    padding: 0 12px;
  }
}
.vision-section .vision-tab div {
  color: #252f87;
}
.vision-section .vision-tab svg path {
  fill: #252f87;
}
.vision-section .vision-tab.active svg path {
  fill: white;
}
.vision-section .vision-tab.active div {
  color: white;
}
.mission-section .mission-tab div {
  color: #252f87;
}
.mission-section .mission-tab svg path {
  fill: #252f87;
}
.mission-section .mission-tab.active div {
  color: white;
}
.mission-section .mission-tab.active svg path {
  fill: white;
}
.mission-section .mission-tab.active svg path {
  fill: white;
}
.core-values-section .core-tab div {
  color: #252f87;
  min-height: 40px;
}
.core-values-section .core-tab.active div {
  color: white;
}
.core-values-section .core-tab.active svg path {
  fill: white;
}
.manager-card img {
  background-color: #fff;
}
.timeline-list .timeline-item:hover .year {
  opacity: 0;
}
@media (max-width: 768px) {
  .vision-section .vision-tab svg {
    width: 50px;
    height: 50px;
  }
  .mission-section .mission-tab svg {
    width: 50px;
    height: 50px;
  }
  .core-values-section .core-tab svg {
    width: 50px;
    height: 50px;
  }
  .timeline::before {
    left: 50%;
  }
  .timeline-list {
    flex-direction: column;
    align-items: center;
  }
  .timeline-item {
    margin: 50px 0;
    text-align: center;
    position: unset;
    width: 100%;
  }
  .timeline-item .year {
    top: unset;
    display: none;
  }
  .timeline-item .dot {
    bottom: unset !important;
    top: unset;
    transform: translateY(-5px);
  }
  .timeline-item .hover-content {
    display: block;
    position: unset;
    transform: unset;
    width: auto;
  }
  .timeline-item .hover-content::after {
    display: none;
  }
}
@media (max-width: 768px) {
  .timeline-section {
    padding: 20px 0;
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .core-values-section ul li {
    width: 48%;
  }
}
